<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="index.js"></script>

  <body>
    <div ng-app="mainApp" ng-controller="CRUDController" ng-init="GetData()"> 
    
      <table class="content-table" style="color: #80adbc;">
        

        
        <tr>
          <td>
            Employee Code
          </td>
          <td>
            <input class="input" type="number" ng-model="employeecode">
          </td>
        </tr>

        <tr>
          <td>
            Employee Name
          </td>
          <td>
            <input class="input" type="text" ng-model="employeename">
          </td>
        </tr>

        <tr>
          <td>
            Employee Email
          </td>
          <td>
            <input class="input" type="text" ng-model="employeeemail">
          </td>
        </tr>

        <tr>
          <td>
            Active
          </td>
          <td>
            <!-- <input class="input" list="defaultNumbers" type="number" min="0" max="1" ng-model="isactive">
            <datalist id="defaultNumbers">
              <option value="1">
              <option value="0">
            </datalist> -->
            <input type="checkbox" class="input" name="check" id="GFG" value="1" ng-model="isactive" checked> 
          </td>
        </tr>

        <tr>
          <td>
            <input class="button" type="button" ng-click="AddData()" value="Save Data">            
            <input  class="button" type="button" ng-click="UpdateData()" value="Update Data">

          </td>
          <td></td>
        </tr>
      </table> 
      
      <table border="1" class="content-table">
        
        <thead>
          <th>ID</th>
          <th>Employee Code</th>
          <th>Employee Name</th>
          <th>Employee Email</th>
          <th>Active</th>
          <th></th>
        </thead>

        <tr ng-click="BindSelectedData(Emp)" ng-repeat="Emp in EmpList">
          <td>{{Emp.id}}</td>
          <td>{{Emp.employeecode}}</td>
          <td>{{Emp.employeename}}</td>
          <td>{{Emp.employeeemail}}</td>
          <td>{{Emp.isactive}}</td>
          <td><input class="button" type="button" value="Delete" ng-click="DeleteData(Emp)"></td>
        </tr>
      </table>

    <div>
      <form action="/logout?_method=DELETE">
        <button type="submit" class="button" style="padding: .5rem; margin: 1rem;">
          <input class="button" type="button" style="padding: 0;" value="Log Out" ng-click="LogOut()">
        </button>
      </form>
    </div>
        
    </div>
        
        <!-- <script>
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) {
            console.log("here2");
            $http.get("/employees")
            .success(function(response) {
                console.log("here", response);
                $scope.records = response.employees;
            });
        });
        </script> -->
  </body>
</html>